.container {
  position: relative;
  width: 100%;

  &.required::before {
    content: "*";
    color: red;
    position: absolute;
    top: -5px;
    left: -12px;
  }

  label {
    color: var(--disabled);
    font-size: 10pt;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 4px;
    transition: 300ms ease all;
    background-color: var(--background);
    padding: 5px;

    &.shrink {
      top: -15px;
      font-size: 8pt;
      color: var(--primary);
    }
  }

  input,
  select,
  textarea {
    background: none;
    background-color: var(--background);
    color: var(--text);
    font-size: 10pt;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--disabled);
    border-radius: 5px;
    box-sizing: border-box;

    &[type="password"] {
      letter-spacing: 0.3em;
    }

    &:disabled {
      color: var(--disabled);
      border-color: var(--disabled);
    }

    &:focus {
      outline: none;

      border-color: var(--primary);

      ~ label {
        top: -15px;
        font-size: 8pt;
        color: var(--primary);
      }
    }
  }

  textarea {
    resize: none;
    overflow: hidden;
  }
}
