.navbarContainer {
  width: 100%;
  background-color: var(--background);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 5px #0005;
}

.logo {
  width: 15vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  div {
    color: var(--primary);
    font-weight: bold;
    position: relative;
    padding-left: 40px;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      height: 40px;
    }
  }
}

.loginContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1vw;
  align-items: center;
  width: 15vw;
}

.loginButton {
  margin-right: 2vw;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.navbarButton {
  width: 14vw;
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
