:root {
  font-family: "Rounded Mplus 1c", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  --text: #0f0907;
  --background: #f9ebe0;
  --primary: #9a48d0;
  --secondary: #41d3bd;
  --accent: #7bc787;
  --disabled: #bbbbbb;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  appearance: none;
  text-decoration: none;
  color: inherit;
}

a.active {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--background);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
