@keyframes rise {
  0% {
    box-shadow: 0px 0px 0px #0005;
  }
  100% {
    box-shadow: 0px 0px 10px #0005;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px 100px;
  border-radius: 20px;
  box-sizing: border-box;
  animation: rise 0.5s forwards ease-in-out;

  h1 {
    color: var(--primary);
    font-size: 24pt;
    margin: 0;
    padding-bottom: 30px;
  }

  .horizontal {
    display: flex;
    gap: 15px;
  }

  .hidden {
    display: none;
  }

  .error {
    color: red;
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }
}
